HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; VERTICAL-ALIGN: middle; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: left
}
.inner {
	VERTICAL-ALIGN: middle; HEIGHT: 284px
}
.copyright1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #696969; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.UIDStyle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.UIDStyle2 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #aec5de; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.UIDStyle2 A:link {
	COLOR: #aec5de; TEXT-DECORATION: none
}
.UIDStyle2 A:visited {
	COLOR: #aec5de; TEXT-DECORATION: none
}
.UIDStyle2 A:hover {
	TEXT-DECORATION: underline
}
.loginInput {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: -1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none; m
rgin-top: -2px
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: -1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.loginInputPass {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: -1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none; m
rgin-top: -2px
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: -1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 18px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; WIDTH: 140px; COLOR: #696969; FONT-FAMILY: Arial; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
#loginHolder {
	FLOAT: right; MARGIN: 0px 12px 0px 0px; WIDTH: 230px; HEIGHT: 45px
}
UNKNOWN {
	FLOAT: right; MARGIN: 0px 12px 0px 0px; WIDTH: 230px; HEIGHT: 45px
}
#loginHolder2 {
	FLOAT: right; MARGIN: 0px 12px 0px 0px; WIDTH: 230px; HEIGHT: 45px
}
UNKNOWN {
	FLOAT: right; MARGIN: 0px 12px 0px 0px; WIDTH: 230px; HEIGHT: 45px
}
#loginRemember {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 130px; MARGIN-RIGHT: 12px; HEIGHT: 10px
}
UNKNOWN {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 130px; MARGIN-RIGHT: 25px; HEIGHT: 10px
}
#loginSubmit {
	PADDING-RIGHT: 25px; MARGIN-TOP: 0px; FLOAT: right; PADDING-TOP: 0px; HEIGHT: 10px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 13px; PADDING-TOP: 0px; HEIGHT: 10px
}
#loginSubmitFor {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; FLOAT: right; PADDING-TOP: 0px; HEIGHT: 10px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 10px
}
#loginForgot {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 140px; MARGIN-RIGHT: 15px; HEIGHT: 10px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: 25px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 140px; MARGIN-RIGHT: 15px; PADDING-TOP: 0px; HEIGHT: 10px
}
#RloginForgot {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 140px; MARGIN-RIGHT: 5px; HEIGHT: 10px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: 25px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 140px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; HEIGHT: 10px
}
#loginFirst {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 700px; PADDING-TOP: 0px; HEIGHT: 20px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 700px; PADDING-TOP: 0px; HEIGHT: 20px
}
#loginRemember {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 12px 0px 0px; PADDING-TOP: 0px; HEIGHT: 18px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 12px 0px 0px; PADDING-TOP: 0px; HEIGHT: 18px
}
#errorMsg {
	
}
#errorDiv {
	FONT-WEIGHT: normal; FONT-SIZE: 19px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.forgotPassStatus1 {
	MARGIN-TOP: 5px; DISPLAY: none; FONT-WEIGHT: normal; FONT-SIZE: 19px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UNKNOWN {
	MARGIN-TOP: 0px; PADDING-TOP: 50px
}
UNKNOWN {
	MARGIN-TOP: 0px; PADDING-TOP: 80px
}
.firstbg {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(../images/first_mid.gif); FONT: 0.6em Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none
}
